---

---

<li class="episode-card">
  <h3>node.01</h3>
  <h4>東京とパリから、はじめまして。</h4>
  <h5>2024.11.16</h5>
  <p>
    墨とPathというPodcastについて
  </p>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4eLyXbt6WeeBl4O68ACeop?utm_source=generator" width="100%" height="152" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</li>
<style>
	.episode-card {
    padding: 50px 0;
  }
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
	}

</style>
