---

---

<li class="episode-card">
  <h4>stroke.01</h3>
  <h3>東京とパリから、はじめまして。</h4>
  <h5>2024.11.16</h5>
  <p>
    墨とPathというPodcastについて
  </p>
  <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/4eLyXbt6WeeBl4O68ACeop?utm_source=generator" width="100%" height="152" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</li>
<style>
	.episode-card {
    padding: 50px 0;
  }
	h4 {
		font-size: 1.2rem;
	}
  h3{
    font-size: 2rem;
    margin-top: -0.5rem;
    margin-left: -0.2rem;
    font-feature-settings: "palt";
    kerning: auto;
    letter-spacing: 0.05em;
  }
  h5{
    font-size: 0.8rem;
  }
	p {
		margin-top: 0.5rem;
		margin-bottom: 2rem;
	}

</style>
