---

---
<div class="topbar-main">
  <h2><a href="#">墨とPath</a></h2>
  <ul>
    <li><a href="/index.html#about">About</a></li>
    <li><a href="">Spotify↗︎</a></li>
    <li><a href="">Apple↗︎</a></li>
    <li><a href="">Google↗︎</a></li>
  </ul>
</div>
<style lang="scss">
  @font-face {
    font-family: SumiPath;
    src: url(/fonts/SumiPath-Regular.woff2);
  }
  a{
      color: var(--main);
      text-decoration: none;
    }
  .topbar-main{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
  }
	h2{
    font-family: Sumipath, serif;
    font-weight: normal;
    margin: -0.5rem 1.5rem 0;
    font-size: 5rem;
    a{
      transition: none;
      &:hover{
        color: rgba($color: #333333, $alpha: 0.0);
        text-stroke: 1px #333333;
        -webkit-text-stroke: 1px #333333;   
      }
    }
  }
  ul{
    display: flex;
    margin: 1.5rem 1.5rem;
    li{
      font-family: var(--primaryfont);
      font-size: 1.1rem;
      list-style: none;
      margin: 0 2rem 0 0;
      &:last-child{
        margin: 0;
      }
    }
  }
</style>
