---

---

<div class="topbar-main">
  <h2><a href="#">墨とPath</a></h2>
  <ul class="desktop-menu">
    <li><a href="/index.html#about">About</a></li>
    <li class="is-hidden-mobile">
      <a href="https://open.spotify.com/show/61EG9Iu16plxFhLxzHB7RA"
        >Spotify↗︎</a
      >
    </li>
    <li class="is-hidden-mobile">
      <a href="https://podcasts.apple.com/us/podcast/墨とpath/id1782786856"
        >Apple↗︎</a
      >
    </li>
    <li class="is-hidden-mobile">
      <a
        href="https://www.youtube.com/playlist?list=PLDIgNXDO9DRGwSbEc12WhaDEU9iSPMQsi"
        >YouTube↗︎</a
      >
    </li>
    <li class="is-hidden-tablet"><a id="hamburger-button">Follow</a></li>
  </ul>
  <ul class="hamburger">
    <li>
      <a href="https://open.spotify.com/show/61EG9Iu16plxFhLxzHB7RA"
        >Spotify↗︎</a
      >
    </li>
    <li>
      <a href="https://podcasts.apple.com/us/podcast/墨とpath/id1782786856"
        >Apple↗︎</a
      >
    </li>
    <li>
      <a
        href="https://www.youtube.com/playlist?list=PLDIgNXDO9DRGwSbEc12WhaDEU9iSPMQsi"
        >YouTube↗︎</a
      >
    </li>
  </ul>
</div>
<style lang="scss">
  @use "../../node_modules/bulma/sass/utilities/mixins";
  @font-face {
    font-family: SumiPath;
    src: url(/fonts/SumiPath-Regular.woff2);
  }
  a {
    color: var(--main);
    text-decoration: none;
  }
  .topbar-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 5;
  }
  h2 {
    font-family: Sumipath, serif;
    font-weight: normal;
    line-height: 1;
    margin: 0.6rem 1.5rem 0;
    font-size: 5rem;
    a {
      transition: none;
      &:hover {
        color: rgba($color: #333333, $alpha: 0);
        text-stroke: 1px #333333;
        -webkit-text-stroke: 1px #333333;
      }
    }
    @include mixins.mobile {
      font-size: 3rem;
    }
    @include mixins.fullhd {
      font-size: 6rem;
    }
  }
  .desktop-menu {
    display: flex;
    margin: 1.25rem 1.25rem;
    align-items: center;
    a {
      display: block;
      padding: 0.25rem;
      border: 1px solid rgba(0, 0, 0, 0);
      transition: none;
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-underline-offset: 2px;
        text-decoration-skip-ink: none;
        border: 1px solid var(--main);
      }
    }
    li {
      font-family: var(--primaryfont);
      font-size: 1.1rem;
      list-style: none;
      margin: 0 1rem 0 0;
      height: auto;
      &:last-child {
        margin: 0;
      }
      @include mixins.mobile {
        margin: 0 1.5rem 0 0;
      }
    }
  }
  .hamburger {
    position: absolute;
    top: 70px;
    right: 25px;
    border: 1px solid var(--main);
    list-style: none;
    padding: 1rem;
    background-color: var(--back);
    display: none;
    a {
      padding: 0 0.25rem;
      &:hover {
        text-decoration: underline;
        text-decoration-thickness: 1px;
        text-decoration-skip-ink: none;
        text-underline-offset: 2px;
      }
    }
    li {
      font-family: var(--primaryfont);
      font-size: 1.1rem;
    }
  }
  .expanded {
    display: block;
  }
</style>
